.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

header, section, footer {
    width: 100%;
    box-sizing: border-box;
}

.site-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
}

.site-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-header nav ul li {
    margin-left: 20px;
}

.site-header nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}



#about, #services, #testimonials, #contact {
    padding: 20px;
    text-align: center;
}

/* Specific section h2 styles */
#home h2,
#about h2,
#services h2,
#testimonials h2,
#contact h2 {
    font-family: 'Pacifico', cursive;
}

.service, .testimonial {
    margin: 20px 0;
}


@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-header nav ul {
        flex-direction: column;
    }

    .site-header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
     



input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Add margin to create space below */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/* Button styles */
button {
    font-weight: bold;
    color: white;
    background-color: #505050;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
     margin: 20px;
      border-radius: 10px;
      box-shadow: 2px 2px 5px black; /* Adjust the values to achieve the desired shadow effect */   
}

button:hover {
    background-color: #8B0000;
}
